body, * {
  font-family: Lucida Console, Monaco, monospace;
  line-height: 1.25em;
  color: #003049;
}

a {
  color: #2a9d8f;
  text-decoration: none;
}

a:hover {
  color: #264653;
  text-decoration: none;
}

.head{
  margin-bottom: 1em;
  color: #003049;
  padding-left: 0.25em;
}

.head h1 {
  margin: 0;
}

.head a{
  color: #003049;
}

main {
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
  margin: 0em 0em 0em 2px;
}

.section-header {
  padding: 0.25em 0 0.25em 0.25em;
  margin: 0;
  background-color: #2a9d8f;
  font-weight: bold;
  color: white;
  text-align: left;
}

.section-list {
  list-style: none;
  padding-left: 0.25em;
  margin-top: 0;
  width: 100%;
}

.section-link {
  text-align: right;
}

.main-body {
  margin-right: 0.7em;
  margin-bottom: 1em;
}

.main-body li {
  margin-bottom: 1em;
}

.home-body {
  margin-bottom: 1em;
}

.section-list-item-active {
font-weight: bold;
}

img {
  max-width: 100%;
}

.page-title {
  margin: 0em;
  background-color: #2a9d8f;
  font-weight: bold;
  color: white;
  padding: 0.5em;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .column {
    flex: 1;
  }

  ._20 {
    flex: 2;
  }

  ._25 {
    flex: 2.5;
  }

  ._5 {
    flex: 5;
  }

  ._55 {
    flex: 5.5;
  }

  ._75 {
    flex: 7.5;
  }
}

@media screen and (max-width: 320px) {
  /* CSS rules for viewports 320px and smaller go here */
  font-size: 5px; /* Or whatever size you want */
}

@media screen and (max-width: 128px) {
  /* CSS rules for viewports 320px and smaller go here */
  font-size: 3px; /* Or whatever size you want */
}