---
layout: layouts/base.njk
---


<div class="row">
    <div class="column _5 main-body">
        <h2 class="page-title">{{ title }}</h2>
        {{ content | safe }}
        {% include 'components/howtobuy.njk' %}
    </div>
    <div class="column _25">
        {% for image in images %}
        <a href="{{ image | url }}" target="blank"><img src="{{ image | url }}" /></a>
        <br>
        {% endfor %}

    </div>
</div>
